<div>
    <form name="form" novalidate>
    <div style="display: -webkit-inline-box; display: -moz-inline-box;">
        <button class="btn btn-default btn-xs" type="button" ng-show="data.nodes.length > 0 && data.collapsed" ng-click="toggleCollapse(data)">+</button>
        <button class="btn btn-default btn-xs" type="button" ng-show="data.nodes.length > 0 && !data.collapsed" ng-click="toggleCollapse(data)">-</button>
        <div ng-switch on="data.edit">
            <div ng-switch-when="false"><span ng-click="editName(data)">{{data.name}}</span></div>
            <div ng-switch-when="true"><input type="text" ng-model="data.editname" required></div>
        </div>
    </div>
    <button class="btn btn-primary btn-xs" ng-show="data.edit" ng-click="saveName(data)" ng-disabled="form.$invalid">Save</button>
    <button class="btn btn-danger btn-xs" ng-show="data.edit" ng-click="data.edit=false">Cancel</button>
    <button class="btn btn-primary btn-xs" ng-hide="data.edit" ng-click="add(data)">Add</button>
    <button class="btn btn-danger btn-xs" ng-hide="data.edit || (isRoot(data) && data.nodes.length === 0)" ng-click="remove(data, $parent.$parent.$parent.data)">Delete</button>
    </form>
    <ul ng-hide="data.collapsed">
        <li ng-repeat="data in data.nodes" ng-include="'/templates/recursive-node.html'"></li>
    </ul>
</div>