<!DOCTYPE html>
<html>
    <head>
        <title>Angular Tree</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/lib/underscore-min.js"></script>
    </head>
    <body ng-app="treeModule">
        <div style="padding-left: 20px;">
        <h3>JS Assignment (AngularJS)</h3>
        </div>
        <tabset>
            <tab heading="Recursive">
                <div style="float:right; padding: 10px 20px 10px 10px;"><small><i>* Click on node name for edit</i></small></div>
                <div class="tree_container" ng-controller="RecursiveTree" ng-include="'/templates/recursive-node.html'"></div>
            </tab>
            <tab heading="Iterative">
                <div style="float:right; padding: 10px 20px 10px 10px;"><small><i>* Click on node name for edit</i></small></div>
                <div class="tree_container" ng-controller="IterativeTree" >
                    <div ng-repeat="data in nodes | orderBy:'left'" ng-include="'/templates/iterative-node.html'"></div>
                </div>
            </tab>
        </tabset>
        <!-- TODO: use requireJS -->
        <script src="/js/lib/angular.min.js"></script>
        <script src="/js/lib/ui-bootstrap.min.js"></script>
        <script src="/js/modules/treeModule/tree-module.js"></script>
        <script src="/js/modules/treeModule/values/tree-values.js"></script>
        <script src="/js/modules/treeModule/factories/iterative-tree-node.js"></script>
        <script src="/js/modules/treeModule/factories/recursive-tree-node.js"></script>
        <script src="/js/modules/treeModule/controllers/iterative-tree.js"></script>
        <script src="/js/modules/treeModule/controllers/recursive-tree.js"></script>
    </body>
</html>